.empty-task-list {
    margin-top: 15px;
}

.task-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.task-list-element {
    width: 100%;
    border-bottom: 1px solid var(--grey);
    padding-block: 10px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.task-list-element--done {
    background-color: var(--light-grey);
}

.task-list-element__title {
    flex: 1;
}

.task-list-element__header-actions {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-list-element__checkbox {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-list-element__date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;
    margin-right: 15px;
}

.task-list-element__date-icon {
    height: 16px;
    width: 16px;
}
