.button {
    transition: all .15s ease-in-out;
}


.button:hover {
    filter: brightness(1.3);
}

.button:active {
    filter: brightness(0.85);
}

.primary-button {
    background-color: var(--orange);
    padding: 7px 10px;
    color: var(--white);
    font-weight: 600;
}

.square-button {
    padding: 0;
    width: 20px;
    height: 20px;
}

.transparent-button {
    color: var(--orange);
    text-decoration: underline;
    cursor: pointer;
}
