.text-input__input {
  border: 1px solid var(--grey);
  padding: 4px 10px;
  width: 100%;
}

.text-input__textarea {
  padding-block: 8px;
  min-height: 33px;
}

.text-input__error {
  padding-left: 1px;
  color: var(--error);
  font-size: 0.75em;
  height: 14px;
  margin-top: 3px;
  margin-bottom: 6px;
}

.date-input__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 45%;
  gap: 10px;
}

.date-input__container .text-input__input {
  text-align: center;
}

.error {
  border-color: var(--error);
}

.partial-width-input {
  width: 60%;
}

@media (max-width: 768px) {
  .partial-width-input {
    width: 100%
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey);
  width: 20px;
  height: 20px;
  transition: all .15s ease-in-out;
  cursor: pointer;
  background-color: var(--white);
}

.checkbox--has-value {
  background: var(--orange);
}

.checkbox__icon {
  fill: var(--white);
  height: 10px;
  width: 10px;
  transition: all .15s ease-in-out;
  opacity: 0;
}

.checkbox__icon--has-value {
  opacity: 1;
}
