.input-wrapper {
  height: 70px;
}

.text-input__input {
  margin-top: 5px;
  border: 1px solid var(--grey);
  padding: 4px 10px;
  width: 100%;
}

.text-input__error {
  padding-top: 3px;
  padding-left: 1px;
  color: var(--error);
  font-size: 0.75em;
}

.date-input__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 45%;
  gap: 10px;
}

.date-input__container .text-input__input {
  text-align: center;
}

.error {
  border-color: var(--error);
}

.partial-width-input {
  width: 60%;
}

@media (max-width: 768px) {
  .partial-width-input {
    width: 100%
  }
}
