:root {
    --main-background: #f0f0f0;
    --white: #fff;
    --black: #000;
    --orange: #ed4d24;
    --light-orange: #ea8872;
    --grey: #e5e5e5;
    --light-grey: #b7b6b6;
    --dark-grey: #696969;
    --scrollbar: #d3dae3;
    --error: #a90808;
}
